*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
}

.container{
    padding-bottom: 15%
}
.tumi{
    padding-bottom: 10%;
    background-image: url(/style2/tumi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-size: cover;
    
}

.social-media-icons{
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.instagram-logo{
    margin-top:2rem;
    margin-left: 50px;
}

.facebook-logo{
    margin-top:2rem;
    margin-left: 50px;
}

.telegram-logo{
    margin-top:2rem;
    margin-left: 50px;
}

.youtube-logo{
    margin-top:2rem;
    margin-left: 50px;
}
.content{
    color:azure;
    margin-top: 20%;
    margin-left: 50px;
    line-height: -30px;
}
h1{
    margin-top: 20px;
    font-size:300px;
}

h2{
   font-size: 100px; 
   font-weight: lighter;
}

p{
    font-size: 100px;
    font-weight: 200;
}

button{
    font-family: 'Montserrat';
    font-size: 40px;
    margin-top: 40px;
    background-color: rgb(206, 57, 82);
    color: white;
    border-radius: 50px;
    border-style: none;
    padding: 25px 25px;
}
.navbar{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 45px; 
    padding-top: 45px;
    height: 150px;
    border-bottom-width: 2px;
    border-bottom-color: rgb(206, 57, 82);
    border-bottom-style: groove;
}

nav ul li {
    color:rgb(206, 57, 82);
    display: inline-block;
    list-style: none;
    width: 140px;
    font-size: 37px;
    word-spacing: 50px;
}

.spacing{
    padding-left: 40px;
}
.job-description{
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    vertical-align: middle;
}

.who-am-i{
    margin-top: 10px;
}

div h1{
    font-size: 200px;
}

.question{
    color: rgb(206, 57, 82);
    display: inline-block;
    font-size: 100px;
    font-weight:700;
    margin-top: 150px;
    margin-left: 90px;
    line-height: 180px;
}

.download-my-cv{
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(206, 57, 82);
    color:rgb(206, 57, 82);
    margin-left: 90px;
}

.download-my-cv:hover{
    background-color: rgb(206, 57, 82);
    color: white;
    transition: 0.7s;
}

.text-description{
    font-weight: 400;
    font-size: 60px;
    margin-left:90px;
}

.text-description2{
    margin-left: 90px;
    font-size: 60px;
}

.my-description{
    line-height: 100px;
    display: inline-block;
    width:30%;
    vertical-align: top;
    margin-top: auto;
    margin-right: 280px;
}

.personal-info{
    line-height:100px;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-right: auto;
    margin-top: 180px;
    
}
.my-expertise{
    float: right;
    width: 20%;
    vertical-align: top;
    margin-top: 180px;
    line-height: 120px;
    height: 100%;
}

.personal-heading{
    font-size: 100px;
    color: rgb(206, 57, 82);
}

.personal-info-header{
    font-size: 70px;
    display: block;
}

.personal-header{
    font-weight:300;
}


.header3{
    color: rgb(206, 57, 82);
    font-size: 100px;
    font-weight: 700;
}

.ux-design{
    display: inline-block;
    margin-right: 20px;
}
.expertise-description1{
    display: inline-block;
    font-size: 60px;
    font-weight: 300;
}

.expertise-description1i{
    line-height: 96px;
    font-size: 50px;
    padding-left: 97px;
    padding-bottom: 20px;
}

.vertical-line1{
    width: 900px;
}

.vertical-line2{
    width: 900px;
}

hr.new2 {
    border-top: 2px solid rgb(240, 54, 100);
}

.web-development{
    margin-top: 40px;
    margin-right: 20px;
    display: inline-block;
}

.expertise-description2{
    font-size: 60px;
    font-weight: 300;
    display: inline-block;
    vertical-align: baseline;
}

.digital-marketing{
    margin-top: 40px;
    margin-right: 20px;
    display: inline-block;
}

.expertise-description3{
    display: inline-block;
    font-size: 60px;
    font-weight: 300;
}

.expertise-description3i{
    line-height: 96px;
    font-size: 50px;
    padding-left: 97px;
    padding-bottom: 20px;
}

.colored-background{
    background-color: rgb(206, 57, 82);
    height: 300px;
    width: 100%;
    margin-top: 100px;
}

#resume-header{
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin-top: 100px;
    padding: 40px 40px;
}
.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 45px; 
    padding-top: 45px;
    height: 150px;
    border-bottom-width: 2px;
    border-bottom-color: rgb(206, 57, 82);
    border-bottom-style: groove;
}
.container11 {
    display: inline-block;
    width: 30%;
    height: 200px;
    margin: 10px;
    background-color: rgb(206, 57, 82);
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
    border-color: blue;
}

.container22 {
    display: inline-block;
    width: 30%;
    height: 200px;
    margin: 10px;
    background-color: rgb(206, 57, 82);
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
    border-color: blue;
}

.container33 {
    display: inline-block;
    width: 30%;
    height: 200px;
    margin: 10px;
    background-color: rgb(206, 57, 82);
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
    border-color: blue;
}
h3{
    font-size: 300%;
}